# server port for embedded Tomcat
server.port=8080

# PayPal sandbox config
paypal.mode=sandbox
paypal.clientId=YOUR_SANDBOX_CLIENT_ID
paypal.clientSecret=YOUR_SANDBOX_CLIENT_SECRET

paypal.returnUrl=http://localhost:8080/paypal/return
paypal.cancelUrl=http://localhost:8080/paypal/cancel
paypal.apiBaseUrl=https://api-m.sandbox.paypal.com

# VietQR test environment config
vietqr.username=YOUR_MERCHANT_USERNAME
vietqr.password=YOUR_MERCHANT_PASSWORD
vietqr.apiBaseUrl=https://dev.vietqr.org/vqr/api

vietqr.accountNo=9704198526191432198
vietqr.accountName=NGUYEN VAN A
vietqr.bankCode=970415
